<h2>Game #<%= @game.id %></h2>

<% @game.rows.each_with_index do |columns,column_index| %>
  <div class="row">
  <% columns.each_with_index do |tile,row_index| %>
    <div data-column=<%= tile.column_index %> data-row=<%= tile.row_index %> class="<%= tile.tile_type %>"><%= tile.content %></div>
  <% end %>
  </div>
<% end %>
