<div class="container">
  <h2>Game #<%= @game.id %></h2>
  <div class="row">
    <div class="column-clues column flex-container">
      <% @game.column_clues.each do |column| %>
        <div class="flex-container-vertical">
          <% column.lengths.each do |length| %>
            <div class="flex-item clue-tile"><%= length %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="grid">
      <% (0..@game.board_size-1).each do |row| %>
        <div class="row flex-container">
          <% (0..@game.board_size-1).each do |column| %>
            <div data-column=<%= column %> data-row=<%= row %> class="flex-item play-tile"></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="flex-container-vertical column">
      <% @game.row_clues.each do |row| %>
        <div class="flex-container">
          <% row.lengths.each do |length| %>
            <div class="flex-item clue-tile"><%= length %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div>
    <button id="submit_game">Submit</button>
  </div>
  <p class="game-status"></p>
</div>
