<div class="container">

  <h2>Puzzle #<%= @puzzle.id %></h2>

  <div class="row">
    <div class="column-clues column flex-container">
      <% @puzzle.clues.for_columns.each do |column| %>
        <div class="flex-container-vertical">
          <% column.legend.each do |length_cell| %>
            <div class="flex-item clue-tile"><%= length_cell %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <% (0...@puzzle.board_size).each do |row| %>
        <div class="row flex-container">
          <% (0...@puzzle.board_size).each do |column| %>
            <div data-column=<%= column %> data-row=<%= row %> class="flex-item play-tile"></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="flex-container-vertical column">
      <% @puzzle.clues.for_rows.each do |row| %>
        <div class="flex-container">
          <% row.legend.each do |length_cell| %>
            <div class="flex-item clue-tile"><%= length_cell %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div>
    <button id="submit_board">Submit</button>
  </div>

  <p class="board-status"></p>
</div>
