<div class="container">

  <h2>Puzzle #<%= @puzzle.id %></h2>

  <div class="row">
    <div class="column-clues column flex-container">
      <% @puzzle.legends.for_columns.each_with_index do |column,index| %>
        <div class="flex-container-vertical">
          <% column.clues.each do |clue_cell| %>
            <div data-column="<%= index %>" class="flex-item clue-cell"><%= clue_cell.contiguous_boxes %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <% (0...@puzzle.board_size).each do |row| %>
        <div class="row flex-container">
          <% (0...@puzzle.board_size).each do |column| %>
            <div data-column=<%= column %> data-row=<%= row %> class="flex-item play-cell"></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="flex-container-vertical column">
      <% @puzzle.legends.for_rows.each_with_index do |row,index| %>
        <div class="flex-container">
          <% row.clues.each do |clue_cell| %>
            <div data-row="<%= index %>" class="flex-item clue-cell"><%= clue_cell.contiguous_boxes %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div>
    <button id="submit_board">Submit</button>
  </div>

  <p class="board-status"></p>
</div>
